
.co-bg-container {
  background-image: url('/public/assets/images/bluebox.png');
  background-size: 100% 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 305px auto 0; 
  margin-bottom: 200px;
  
  height: 1766px;
  width: 1293px;
  z-index: 0
}




.co-container {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  margin-top: -2300px;
}

.co-container .co-div {


  position: relative;
  width: 1439px;
}

.co-container .co-cakeflavortitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1141px;
}

.co-cakeflovor{

  font-family: 'Pretendard-Regular';
  font-size: 20px;
border-radius: 30px;
border: 1px solid white;
padding: 20px;
width: 440px;
  left: -5px;
  
  position: absolute;
  top: 60px;
}



.co-container .co-btntxt {
  color: #000000;
  font-family: 'Pretendard-Regular';
  font-size: 24px;
  font-weight: 400;
  left: 800px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1730px;
}

.co-container .co-reqbtn {
  height: 103px;
  left: 790px;
  position: absolute;
  top: 1800px;
  width: 460px;
}

.co-container .co-overlap-group {
  cursor: pointer;
  background-color: #ffa0b7;
  border-radius: 30px;
  height: 103px;
  position: relative;
  width: 458px;
}

.co-reqbtn :hover{
  background-color: #ff85a3;
}

.co-container .co-reqtxt {
  color: #ffffff;
  font-family: 'Pretendard-bold';
  font-size: 32px;
  font-weight: 700;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  text-decoration: none;
}

.co-container .co-cakeplusttitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1454px;
}

.co-container .co-cakeplus {
  background-color: #ffffff;
  border-radius: 30px;
  
  left: 772px;
  position: absolute;
  top: 1514px;
  width: 438px;
  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
  padding-left: 20px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 140px;
 
}



.co-container .co-caketxttitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1301px;
}

.co-container .co-caketxt {
  background-color: #ffffff;
  border-radius: 30px;
  height: 63px;
  left: 772px;
  position: absolute;
  top: 1361px;
 

    
  width: 438px;
  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
 padding-left: 20px;
  left: 772px;
  font-size: 20px;
}

.co-container .co-cakesizetitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 866px;
}

.co-container .rectangle {
  background-color: #ffffff;
  border-radius: 30px;
  height: 178px;
  left: 772px;
  position: absolute;
  top: 926px;
  width: 458px;
}

.co-container .co-userphonetitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 709px;


  
}

.co-container .co-userphone {
  background-color: #ffffff;
  border-radius: 30px;
  height: 63px;
  left: 772px;
  position: absolute;
  top: 769px;

  width: 438px;
  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
 padding-left: 20px;
  left: 772px;
  font-size: 20px;
}

.co-container .co-time {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1748px;
}

.co-container .co-timetitle {
  font-family: 'Pretendard-bold';
  font-size: 15px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 63px;
  left: 177px;
  position: absolute;
  top: 1808px;
  width: 428px;
}

.co-container .co-daytitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1584px;
}

.co-day-icon{
  position: absolute;
  width: 30px;
  left: 20px;
}

.co-time-icon{
  position: absolute;
  width: 30px;
  left: 20px;
}
input {
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 나타나는 윤곽선(outline) 제거 */
}

.example-custom-input {
  outline: none;
  border: none; 
  /* .co-day 클래스의 스타일을 이곳에 추가 */
  background-color: #ffffff;
  border-radius: 30px;
  font-family: 'Pretendard-bold';
  font-size: 16px;
  height: 63px;
  left: 177px;
  position: absolute;
  top: 1614px;
  width: 488px;
}

.example-time-input {
  outline: none;
  border: none; 
  /* .co-day 클래스의 스타일을 이곳에 추가 */
  background-color: #ffffff;
  border-radius: 30px;
  font-family: 'Pretendard-bold';
  font-size: 16px;
  height: 63px;
  left: 177px;
  position: absolute;
  top: 1794px;
  width: 488px;
  z-index: 999;
}
.co-container .co-omgtitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1037px;
}

.co-container .co-imgpic {
  background-color: #ffffff;
  border-radius: 44px;
  height: 398px;
  left: 177px;
  position: absolute;
  top: 1127px;
  width: 489px;
  cursor: pointer;
}

.cakeImage{
  font-family: 'Pretendard-Medium';
  color: lightgray;
  position: absolute;
  top: 199px;
  cursor: pointer;
  padding: 20p;
  left: 184px;
}


.co-selected-image{
  border-radius: 44px;
  width: 489px;
  height: 398px;
}

.co-container .co-costomtitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 551px;
}

.co-container .co-custompic {

  border-radius: 44px;
  height: 398px;
  left: 177px;
  position: absolute;
  top: 711px;
  width: 489px;
  z-index: 99999;
}
.white-bg{
  background-color: white;
  border-radius: 44px;
  height: 398px;
  left: 177px;
  position: absolute;
  top: 611px;
  width: 489px;
}
.co-container .co-usernametitle {
  color: #000000;
  font-family: 'Pretendard-bold';
  font-size: 24px;
  font-weight: 700;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 558px;
}

.co-container .co-username {

  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
  border-radius: 30px;
 padding-left: 20px;
  height: 63px;
  left: 772px;
  position: absolute;
  top: 618px;
  width: 438px;


  
 
  font-size: 20px;



}
.react-datepicker__time-container .react-datepicker__header--time--only{
  display: none;
}

.react-datepicker__triangle{
  display: none;
}

.react-datepicker button{
  color: white;

  left: 267px;
  position: absolute;
  top: 1370px;
}
.react-datepicker__navigation--previous {
  margin-right: 50px; /* 오른쪽 마진 추가 */
}

/* 다음 버튼에 대한 스타일 */
.react-datepicker__navigation--next {
  margin-left: 255px; /* 왼쪽 마진 추가 */
}
.react-datepicker__time{
  width: 300px;
  
}

.react-datepicker__time-list-item {
  font-family: 'Pretendard-bold';
  font-size: 20px;
  color: white;
 
  background-color: #ffa0b7;
}
.react-datepicker__time-list-item:hover{
  color: #ff85a3;
}

.react-datepicker__time-list  {
  width: 300px;
  border-radius: 20px;
  position: absolute;
  top: 1530px;
  left: 270px;
  background-color: white;
}
.co-day {

  height: 63px;
  left: 177px;
  position: absolute;
}

.co-timepicker-container {
  position: absolute;
  top: 1818px; /* 실제 위치에 맞게 조정해야 할 수 있음 */
  left: 177px;
  z-index: 999; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}


.react-datepicker__month-container{
  position: absolute;
  cursor: pointer;
  top: 1340px;
  left: 260px;
  color: white;
  border: 2px solid #ff85a3;
  border-radius: 20px;
}
.react-datepicker__header {
  border-top-left-radius: 10px;
 
  padding-bottom: 20px;
  background-color: #ff85a3;
  color: white;
}
:global(.react-datepicker__month-container) {
  /* 전역 스타일 적용 */
 border-radius: 20px;
  /* ... */
}


.react-datepicker__month-container{
  width: 300px;
  color: white;
  background-color: #ffb6c8;
  font-size: 13px;
  font-family: 'Pretendard-Regular';
}




/* 체크박스 */

.co-check-container{
  position: absolute;
  left: 170px;
  top: 0px;
  z-index: 999;
}



.co-check-1{
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 959px;
  width: 85px;
}


.co-check1-txt {
  color: #000000;
  font-family:'Pretendard-Semibold';
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.co-check-txt1{
  color: #000000;
  font-family:'Pretendard-Semibold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.co-check-2 {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1023px;
  width: 80px;
}
.co-check-txt2 {
  color: #000000;
  font-family:'Pretendard-Semibold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 50px;
  margin-left: 2px;
}

.co-check-3 {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 880px;
  padding: 10px;
  position: absolute;
  top: 959px;
  width: 80px;
}


.co-check-4 {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 880px;
  padding: 10px;
  position: absolute;
  top: 1023px;
  width: 80px;
  
}

.co-check-txt3 {
  color: #000000;
  font-family:'Pretendard-Semibold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 33px;
}