

.review-section {
  padding: 20px;
}

.review-list-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.review-list {
  margin-bottom: 20px;
}

.review-item {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-image {
  width: 100px; /* Adjust based on your image size */
  height: auto;
  border-radius: 10px;
}

.review-content {
  flex-grow: 1;
}

.review-cake-name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.review-date, .review-customer, .review-details, .review-message {
  font-size: 14px;
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.prev-page, .next-page {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.page-numbers a {
  color: #61a4d5;
  text-decoration: none;
  padding: 5px 10px;
}

.page-numbers a:hover {
  text-decoration: underline;
}
