.index .TourOrder_tourFrame {

  background-color: #ffffe7;
  height: 2247px;
  width: 1440px;
  align-self: center
}

.index .TourDet2_bluebox {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  height: 1766px;
  left: 73px;
  position: relative;
  top: 305px;
}

.index .TourDet2_bodyfr {
  height: 1768px;
  margin-bottom: -2px;
  position: relative;
  width: 1293px;
}

.index .TourDet2_overlap-group {
  height: 1768px;
  position: relative;
}
.index .TourDet2_group {
  height: 1768px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1293px;
}


.index .TourDet2_ellipse {
background-color: #d1ebff;
border-radius: 82.59px/91.84px;
height: 184px;
left: 0;
position: absolute;
top: 0;
width: 165px;
}

.index .TourDet2_rectangle {
background-color: #d1ebff;
height: 104px;
left: 0;
position: absolute;
top: 90px;
width: 70px;
}

.index .div-2 {
  height: 69px;
  left: 377px;
  position: absolute;
  top: 476px;
  width: 535px;
}

.index .div-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 150px;

}

.index .div-wrapper-2 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 236px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .div-wrapper-3 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 450px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .div-3 {
  height: 263px;
  left: 138px;
  position: absolute;
  top: 166px;
  width: 1014px;
}

.index .overlap-2 {
  height: 116px;
  left: 291px;
  position: absolute;
  top: 0;
  width: 188px;
}

.index .div-wrapper-4 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 16px;
  padding: 20px;
  position: absolute;
  top: 52px;
}

.index .text-wrapper-3 {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .overlap-group-wrapper {
  height: 69px;
  left: 862px;
  position: absolute;
  top: 52px;
  width: 152px;
}

.index .overlap-group-2 {
  height: 69px;
  position: relative;
}

.index .div-4 {
  background-color: #ffffe7;
  border: 3px solid;
  border-color: #61a4d5;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 152px;
}

.index .element {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 17px;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 119px;
}

.index .text-wrapper-5 {
  color: #61a4d5;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .rectangle-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 2px;
}

.index .rectangle-2 {
  background-color: #d9d9d9;
  height: 221px;
  position: relative;
  width: 249px;
}

.index .div-wrapper-5 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 97px;
  justify-content: center;
  left: 311px;
  position: absolute;
  top: 146px;
  width: 491px;
}

.index .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -4.5px;
  margin-right: -4.5px;
  margin-top: -0.5px;
  position: relative;
  width: 500px;
}

.index .div-5 {
  background-color: #ffffff;
  border: 10px solid;
  border-color: #61a4d5;
  height: 274px;
  left: 153px;
  position: absolute;
  top: 598px;
  width: 414px;
}

.index .div-wrapper-6 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 10px;
  position: absolute;
  top: 580px;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .div-wrapper-7 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 153px;
  padding: 10px;
  position: absolute;
  top: 889px;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .div-wrapper-8 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 20px 340px 20px 20px;
  position: absolute;
  top: 644px;
}

.index .reservename{
color: #787878;
font-family: 'Pretendard Regular';
text-align: left;
align-items: stretch;
font-size: 25px;
font-weight: 400;
border: white 9px;
border-radius: 10px;
padding: 20px;
top: 2000px;
width: 400px;
}

.order-reservename{
  color: #939393;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  top: 650px;
  left: -650px;
}

.index .reservenum{
  color: #787878;
  font-family: 'Pretendard Regular';
  text-align: left;
  align-items: stretch;
  font-size: 25px;
  font-weight: 400;
  border: white 9px;
  border-radius: 10px;
  padding: 20px;
  top: -10px;
  width: 400px;
  }
  
  .order-reservenum{
    color: #939393;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    top: 790px;
    left: -1100px;
  }

  .index .reservetxt{
    color: #787878;
    font-family: 'Pretendard Regular';
    text-align: left;
    align-items: stretch;
    font-size: 25px;
    font-weight: 400;
    border: white 9px;
    border-radius: 10px;
    padding: 20px;
    top: -10px;
    width: 400px;
    
    }
    .index .reservereq{
      color: #787878;
      font-family: 'Pretendard Regular';
      text-align: left;
      align-items: stretch;
      font-size: 25px;
      font-weight: 400;
      border: white 9px;
      border-radius: 10px;
      padding: 20px;
      top: -10px;
      width: 400px;
      }
      
      .order-reservereq{
        color: #939393;
        font-family: "Inter", Helvetica;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
        top: 1750px;
        left: -2000px;
      }
    
    .order-reservetext{
      color: #939393;
      font-family: "Inter", Helvetica;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
      top: 1590px;
      left: -1550px;
    }

.index .text-wrapper-8 {
  color: #939393;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .div-wrapper-9 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 10px;
  position: absolute;
  top: 1526px;
}

.index .div-wrapper-10 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 20px 340px 20px 20px;
  position: absolute;
  top: 1590px;
}

.index .div-wrapper-11 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 10px;
  position: absolute;
  top: 1674px;
}


.index .div-wrapper-12 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 20px 20px 20px 400px;
  position: absolute;
  top: 1738px;
}

.index .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.index .div-wrapper-13 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 20px 280px 20px 20px;
  position: absolute;
  top: 1445px;
}

.index .div-wrapper-14 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 10px;
  position: absolute;
  top: 1382px;
}

.index .div-wrapper-15 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 10px;
  position: absolute;
  top: 1123px;
}

.index .div-wrapper-16 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 148px;
  padding: 20px 60px 60px 20px;
  position: absolute;
  top: 1175px;
}

.index .text-wrapper-10 {
  color: #939393;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .div-wrapper-17 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 10px;
  position: absolute;
  top: 726px;
}

.index .div-wrapper-18 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 20px 250px 20px 20px;
  position: absolute;
  top: 790px;
}

.index .div-wrapper-19 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1532px;
}

.index .div-wrapper-20 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 650px;
  padding: 20px 230px 20px 20px;
  position: absolute;
  top: 1596px;
}

.index .div-wrapper-21 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1679px;
}

.index .div-wrapper-22 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 650px;
  padding: 20px 210px 20px 20px;
  position: absolute;
  top: 1743px;
}

.index .div-wrapper-23 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 10px;
  position: absolute;
  top: 871px;
}

.index .div-6 {
  background-color: #ffffff;
  border-radius: 20px;
  height: 254px;
  left: 646px;
  position: absolute;
  top: 935px;
  width: 448px;
}

.index .view {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 959px;
  width: 76px;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .element-2 {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1013px;
  width: 51px;
}

.index .text-wrapper-12 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 50px;
}

.index .element-3 {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1064px;
  width: 51px;
}

.index .element-wrapper {
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  grid-gap: 16px; /* 열 사이의 간격 조절 */
  align-items: center; /* 세로 정렬 방식 (가운데 정렬) */
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1114px;
  width: 53px;
}

.index .element-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 33px;
}

.index .rectangle-3 {
  background-color: #ffffff;
  height: 128px;
  left: 153px;
  position: absolute;
  top: 956px;
  width: 128px;
}

.index .rectangle-4 {
  background-color: #ffffff;
  height: 128px;
  left: 296px;
  position: absolute;
  top: 956px;
  width: 128px;
}

.index .rectangle-5 {
  background-color: #ffffff;
  height: 128px;
  left: 439px;
  position: absolute;
  top: 956px;
  width: 128px;
}

.index .img {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 963px;
  width: 88px;
}

.index .image {
  height: 39px;
  left: 912px;
  position: absolute;
  top: 965px;
  width: 155px;
}

.index .element-5 {
  height: 39px;
  left: 912px;
  position: absolute;
  top: 1010px;
  width: 155px;
}

.index .element-6 {
  height: 39px;
  left: 912px;
  position: absolute;
  top: 1062px;
  width: 155px;
}

.index .element-7 {
  height: 39px;
  left: 912px;
  position: absolute;
  top: 1119px;
  width: 155px;
}

.index .element-8 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1010px;
  width: 88px;
}

.index .element-9 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1062px;
  width: 88px;
}

.index .element-10 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1119px;
  width: 88px;
}

.index .div-wrapper-24 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 648px;
  padding: 10px;
  position: absolute;
  top: 1207px;
}

.index .div-7 {
  background-color: #ffffff;
  border-radius: 20px;
  height: 251px;
  left: 646px;
  position: absolute;
  top: 1271px;
  width: 448px;
}

.index .view-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 650px;
  padding: 10px;
  position: absolute;
  top: 1295px;
  width: 76px;
}

.index .view-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 650px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 1343px;
  width: 76px;
}

.index .view-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 650px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 1393px;
  width: 76px;
}

.index .view-5 {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 650px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 1452px;
  width: 61px;
}

.index .img-2 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1299px;
  width: 88px;
}

.index .element-11 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1346px;
  width: 88px;
}

.index .element-12 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1398px;
  width: 88px;
}

.index .element-13 {
  height: 39px;
  left: 786px;
  position: absolute;
  top: 1455px;
  width: 88px;
}

.index .tour-detail {
  height: 103px;
  left: 416px;
  position: absolute;
  top: 1871px;
  width: 458px;
}

.index .group-2 {
  height: 103px;
  width: 460px;
}

.index .overlap-group-3 {
  background-color: #ffa0b7;
  border-radius: 30px;
  height: 103px;
  position: relative;
  width: 458px;
}

.index .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}
