.index {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

.index .tourFrame {
    background-color: #ffffe7;
    height: 2247px;
    width: 1440px;
    align-self: center
  }
  
  .index .bluebox {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    height: 1766px;
    left: 73px;
    position: relative;
    top: 305px;
  }
  
  .index .bodyfr {
    height: 1768px;
    margin-bottom: -2px;
    position: relative;
    width: 1293px;
  }
  
  .index .overlap-group {
    height: 1768px;
    position: relative;
  }
  
  .index .group {
    height: 1768px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1293px;
  }
  
  .index .div {
    background-image: url(https://cdn.animaapp.com/projects/654a0c7461a415cac322d4c9/releases/654a0c7dc209185e0a9adad7/img/mask-group.png);
    background-size: 100% 100%;
    height: 1766px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 1293px;
  }
  
  .index .ellipse {
    background-color: #d1ebff;
    border-radius: 82.59px/91.84px;
    height: 184px;
    left: 0;
    position: absolute;
    top: 0;
    width: 165px;
  }
  
  .index .rectangle {
    background-color: #d1ebff;
    height: 104px;
    left: 0;
    position: absolute;
    top: 90px;
    width: 70px;
  }
  
  .index .tourdet3-SampleStoreReviewFr {
    align-items: flex-start;
    display: inline-flex;
    gap: 85px;
    left: 379px;
    position: absolute;
    top: 472px;
  }

  .index .div-CakeName {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  .index .text-CakeName {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .index .div-ReviewDate {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }

  .index .text-ReviewDate {
    color: #a8a8a8;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .div-ReviewCust {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  
  .index .text-ReviewCust {
    color: #000000;
    font-family:'Pretendard-Bold';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
 


  
  .index .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }

  
  .index .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  .index .text-tourdet3-Sample {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .index .text-tourdet3-StoreDetail {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }


  .index .div-ReviewRequire {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  
 
  
  .index .text-ReviewRequire {
    color: #a8a8a8;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .TourDet3_reviewtab {
    color: #ff4969;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .storeinfo {
    align-items: center;
    display: inline-flex;
    gap: 35px;
    left: 10%;
    padding: 20px;
    position: absolute;
    top: 120px;
  }
  
  .index .tourdet {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  
  .index .tourdet3-StoreLogo {
    background-color: #d9d9d9;
    height: 221px;
    position: relative;
    width: 249px;
  }
  
  .index .tourdet-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .index .tourdet3-CakeStoreNameFrame {
    height: 79px;
    position: relative;
    width: 188px;
  }
  
  .index .tourdet3-CakeStoreName {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 800;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
  }
  
  .index .tour-det-addr {
    height: 64px;
    position: relative;
    width: 157px;
  }
  
  .index .tour-det-addr-tx {
    color: #565656;
    font-family: 'Pretendard-Light';
    font-size: 20px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .index .tour-det-det {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 1px 0px;
    position: relative;
  }
  
  .index .tour-det-det-tx {
    color: #000000;
    font-family: "Pretendard-Bold";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 500px;
  }
  
  .index .tour-det-chat-btn {
    height: 60px;
    position: relative;
    width: 152px;
  }
  
  
  
  .index button.tour-det-chatbox {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
    background-color: transparent; /* 배경색을 투명으로 설정 */
    border: none; /* 기본 테두리 제거 */
    padding: 0; /* 내부 여백 제거 */
    cursor: pointer; /* 커서를 손가락 모양으로 변경 */
    
  }

  
  .index .tourdet3Chatbox {
    background-color: #ffffe7;
    border: 3px solid;
    border-color: #61a4d5;
    border-radius: 30px;
    height: 60px;
    position: relative;
    width: 152px;
  }
  
  .index .tourdet3ChatboxTx {
    color: #61a4d5;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }

  .index .overlap-group-2{
    height: 60px;
    position: relative;
    width: 152px;
  }
  
  .index .tour-det-white-fr {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 84px;
    position: absolute;
    top: 586px;
  }
  
  .index .tour-det-white-rec {
    background-color: #ffffff;
    border-radius: 57px;
    height: 1138px;
    position: relative;
    width: 1124px;
    
  }
  
  .index .wrvlisttxfr {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 104px;
    padding: 20px;
    position: absolute;
    top: 38px;
  }
  
  .index .tour-det-rv-list {
    color: #ff97b0;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    
  }
  
  .index .wreviewtxfr {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 104px;
    position: absolute;
    top: 150px;
  }
  
  .index .tourdet-5 {
    height: 273px;
    position: relative;
    width: 875px;
  }
  
  .index .tourdet-wlistfr {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  
  
  }
  
  .index .tourdet-cakeimg {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .index .cakeimgbox {
    height: 162px;
    object-fit: cover;
    position: relative;
    width: 173px;
    top: 25px;
  }
  
  .index .cakervfr {
    height: 233px;
    position: relative;
    width: 630px;
  }
  
  .index .cakervdetfr {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .index .tourdet-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 84px;
    position: relative;
  }
  
  
  
  .index .tourdet-7 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 135px;
  }

  .index .div-ReviewDetail {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 135px;
  }

  .index .text-ReviewDetail {
    color: #000000;
    font-family:'Pretendard-Regular';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: 650px;
    
    position: relative;
    max-width: 100%;
    white-space: normal; /* 줄바꿈이 자동으로 이루어집니다. */
    margin: 0; /* 기본 마진 제거 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄만 표시 */
    -webkit-box-orient: vertical;
    

  }
  
  
  .index .line-wrapper {
    
    display: flex; /* 라인을 플렉스 아이템으로 설정 */
    justify-content: center; /* 중앙 정렬 */
    flex-grow: 1;
    
    position: absolute;
    margin-top: 20px;
    left: -200px;
  }
  
  .index .line {
    height: 1px;
    background-color: #000; /* 선의 색상 */
    margin-top: 90px; /* 선과 리뷰 내용 사이의 여백 */
    width:100%;
    
  }
  
  .index .pagenumfr {
    align-items: flex-start;
    display: inline-flex;
    left: 380px;
    position: absolute;
    top: 1066px;
  }
  
  .index .bfpfr {
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .index .nextpicon {
    height: 25px;
    left: 15px;
    position: absolute;
    top: 5px;
    width: 22px;
  }
  
  .index .nextpnumfr {
    height: 34px;
    position: relative;
    width: 244px;
  }
  
  .index .numfr {
    align-items: center;
    display: inline-flex;
    gap: 32px;
    justify-content: center;
    left: 6px;
    padding: 0px 20px;
    position: relative;
    top: 5px;
  }
  
  .index .tourdet-num {
    height: 24px;
    position: relative;
    width: 10px;
  }
  
  .index .tourdet-numt {
    color: #ffd1dc;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .index .tourdet-numt-wrapper {
    height: 24px;
    position: relative;
    width: 13px;
  }
  
  .index .tourdet-num-2 {
    height: 24px;
    position: relative;
    width: 14px;
  }
  
  .index .ntpfr {
    height: 34px;
    position: relative;
    transform: rotate(-180deg);
    width: 60px;
  }
  
  .index .ntpicon {
    height: 25px;
    left: 15px;
    position: absolute;
    top: 5px;
    transform: rotate(180deg);
    width: 22px;
  }


.TourDet3_LinkStyle{
  color: inherit
}

.TourDet3_LinkStyle:hover {
  color: purple; /* 클릭 전 텍스트 색상 사용 */
  cursor: pointer; /* 커서를 손가락 모양으로 변경 */
}