.index {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .frame-wrapper {
  height: 2324px;
  width: 1440px;
}

.index .frame {
  background-color: #ffffe7;
  height: 2324px;
}

.index .overlap {
  height: 1768px;
  left: 75px;
  position: relative;
  top: 303px;
  width: 1293px;
}

.index .bodyfr {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.index .group {
  height: 1768px;
  position: relative;
  width: 1293px;
}

.index .overlap-group {
  height: 1768px;
  position: relative;
}

.index .div {
  background-image: url(https://cdn.animaapp.com/projects/654a0c7461a415cac322d4c9/releases/654a0c7dc209185e0a9adad7/img/mask-group.png);
  background-size: 100% 100%;
  height: 1766px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1293px;
}

.index .ellipse {
  background-color: #d1ebff;
  border-radius: 82.59px/91.84px;
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 165px;
}

.index .rectangle {
  background-color: #d1ebff;
  height: 104px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 70px;
}

.index .mainfr {
  background-color: #ffffff;
  border-radius: 57px;
  height: 1138px;
  left: 97px;
  position: absolute;
  top: 557px;
  width: 1124px;
}

.index .reserve {
  height: 661px;
  left: 615px;
  position: absolute;
  top: 953px;
  width: 540px;
}

.index .resinput {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 70px;
}

.index .element {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 500px;
}

.index .div-2 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper {
  color: #ff97b0;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .usefr {
  height: 601px;
  left: 184px;
  position: absolute;
  top: 1033px;
  width: 378px;
}

.index .useinput {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 4px;
  padding: 20px;
  position: absolute;
  top: 81px;
}

.index .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 334px;
}

.index .span {
  font-weight: 700;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.index .text-wrapper-3 {
  color: #ff97b0;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.index .mask-group {
  height: 37px;
  position: relative;
  width: 37px;
}

.index .tour-det-det-fr {
  height: 299px;
  left: 619px;
  position: absolute;
  top: 661px;
  width: 526px;
}

.index .detailfr {
  height: 228px;
  left: 0;
  position: absolute;
  top: 71px;
  width: 526px;
}

.index .overlap-group-2 {
  height: 228px;
  position: relative;
}

.index .callfr {
  height: 69px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 517px;
}

.index .calltx {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: -9px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .callinput {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 330px;
  padding: 20px;
  position: absolute;
  top: 5px;
}

.index .advicefr {
  height: 64px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 518px;
}

.index .adinput {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 346px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .numfr {
  height: 66px;
  left: 0;
  position: absolute;
  top: 103px;
  width: 520px;
}

.index .reginput {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 330px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  opacity: 0.65;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .regnum {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 2px;
}

.index .onerfr {
  height: 71px;
  left: 22px;
  position: absolute;
  top: 157px;
  width: 496px;
}

.index .text {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: -22px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .name {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 400px;
  padding: 20px;
  position: absolute;
  top: 7px;
}

.index .intro {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 2px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .tour-det-map-fr {
  height: 402px;
  left: 184px;
  position: absolute;
  top: 620px;
  width: 417px;
}

.index .tour-det-addr {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 127px;
  padding: 20px;
  position: absolute;
  top: 343px;
}

.index .text-wrapper-7 {
  color: #61a4d5;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .tour-det-map {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .img {
  height: 280px;
  object-fit: cover;
  position: relative;
  width: 364px;
}

.index .tour-det-cen-line {
  height: 954px;
  left: 600px;
  position: absolute;
  top: 649px;
  width: 1px;
}

.index .tour-det-menu-bar {
  height: 69px;
  left: 392px;
  position: absolute;
  top: 440px;
  width: 535px;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .tour-det-store {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 236px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-9 {
  color: #ff4969;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .tour-det-review {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 450px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.index .tour-det-store-fr {
  height: 263px;
  left: 115px;
  position: absolute;
  top: 166px;
  width: 1014px;
}

.index .overlap-2 {
  height: 116px;
  left: 291px;
  position: absolute;
  top: 0;
  width: 188px;
}

.index .tour-det-addr-fr {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 16px;
  padding: 20px;
  position: absolute;
  top: 52px;
}

.index .tour-det-addr-tx {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .tour-det-store-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .tour-det-chat-btn {
  height: 69px;
  left: 862px;
  position: absolute;
  top: 52px;
  width: 152px;
}

.index .overlap-group-3 {
  height: 69px;
  position: relative;
}

.index .tour-det-chat-box {
  background-color: #ffffe7;
  border: 3px solid;
  border-color: #61a4d5;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 152px;
}

.index .tour-det-chat-fr {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 17px;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 119px;
}

.index .tour-det-chat-tx {
  color: #61a4d5;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .tour-det-img-fr {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 2px;
}

.index .tour-det-img {
  background-color: #d9d9d9;
  height: 221px;
  position: relative;
  width: 249px;
}

.index .tour-det-det {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 97px;
  justify-content: center;
  left: 311px;
  position: absolute;
  top: 146px;
  width: 491px;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -4.5px;
  margin-right: -4.5px;
  margin-top: -0.5px;
  position: relative;
  width: 500px;
}
