.adbg-container{
   border-top-right-radius: 30px ;
   border-bottom-right-radius: 30px ;
   border: 10px solid #FFD1DC;
   background-color: white;
   width: 1350px;
   min-height: 1050px;
   position: absolute;
   top: 300px;
   left: 230px;
   z-index: 1;
}