.admin-store-container{
    margin-left: 170px;
    margin-top: 250px;
}
.store-text1{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 150px;
    
}
.store-text2{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 0px;
}
.store-text3{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 70px;
}
.store-text4{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 80px;
}
.store-text5{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 150px;
}
.store-text6{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 150px;
}
.store-text7{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 50px;
}
.store-text8{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 50px;
}
.store-text9{
    font-family: pretendard-ExtraBold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.modify-picture {
    background-color: #eeeeee;
    top: -100px;
    left : 400px;
    position: relative;
    width: 150px; /* 가게 프로필 이미지의 가로 너비 */
    height: 150px; /* 가게 프로필 이미지의 세로 높이 */
    overflow: hidden;
    border-radius: 50%; /* 원형 이미지를 위한 border-radius */
  }
  
  .modify_picture_uploaded{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
  }
  .upload-label2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #787878;
    font-family: "Inter", Helvetica;
    font-size: 14px;
  }
  .camera-icon2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .text2-content{
    margin-left: 400px;
    background-color: #eeeeee;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    position: absolute;
    margin-top: -40px;
    font-family: pretendard-black;
  }
  .text3-content{
    margin-left: 400px;
    background-color: #eeeeee;
    width: 500px;
    height: 100px;
    position: absolute;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: -70px;
    border: none;
    padding-top: 10px;
    resize: none;
    font-family: pretendard-black;

  }
  .text4-content{
    margin-left: 400px;
    background-color: #eeeeee;
    width: 500px;
    height: 150px;
    position: absolute;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: -40px;
    border: none;
    padding-top: 10px;
    resize: none;
    font-family: pretendard-black;

  }
  .text5-content{
    margin-left: 400px;
    background-color: #eeeeee;
    width: 500px;
    height: 150px;
    position: absolute;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: -40px;
    border: none;
    padding-top: 10px;
    resize: none;
    font-family: pretendard-black;

  }
  .config-time{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
    position: absolute;
    font-family: pretendard-black;

  }
  .text6-content1{
    margin-left: 400px;
    background-color: #eeeeee;
    width: 110px;
    height: 50px;
    position: absolute;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: -40px;
    text-align: center;
    padding: 1px;
    font-family: pretendard-black;
    
  }
  .text6-content2{
    margin-left: 600px;
    background-color: #eeeeee;
    width: 110px;
    height: 50px;
    position: absolute;
    padding-left: 10px;
    border-radius: 20px;
    margin-top: -40px;
    text-align: center;
    padding: 1px;
    font-family: pretendard-black;

  }
  .text7-content{
    margin-left: 400px;
    background-color: #eeeeee;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    position: absolute;
    width: 470px;
    margin-top: -40px;
    font-family: pretendard-black;

  }
  .text8-content{
    margin-left: 400px;
    background-color: #eeeeee;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    position: absolute;
    width: 470px;
    margin-top: -40px;
    font-family: pretendard-black;

  }
  .text9-content{
    margin-left: 400px;
    background-color: #eeeeee;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    position: absolute;
    width: 470px;
    margin-top: -90px;
    font-family: pretendard-black;

  }
  .ll{
    font-family: pretendard-black;
    color:#787878;
    margin-top: 5px;
  }
  .modify-button{
    border: 3px solid #FFA0B7;
   background-color: #FFA0B7;
   border-radius: 20px;
   width: 180px;
   height: 70px;

    left: 332px;
    /* position: absolute; */
    top: 2558px;
    color: #ffffff;
    font-family: "Pretendard-bold", Helvetica;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    margin-left: 35%;
  }